<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nesys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>    
      <h1>Nesys</h1>
      <a href="login">Login</a>
    </header>
  
    <main>
      <h1>Bem Vindo</h1>
      <section>
      <ul>
        <li><a href="#vestido">Vestidos</a></li>
        <li><a href="#saias">Saias</a></li>
        <li><a href="#tops">Tops</a></li>
        <li><a href="#calcados">Calçados</a></li>
        <li><a href="#acessorios">Acessórios</a></li>
      </ul>
      </section>

      <section id="vestido">
        <h2>Exemplo de vestido</h2>
        <img src="{{ url_for('static', filename='img/roupa-bruh.jpg') }}" alt="Placeholder">
        <p>Preço e Detalhes</p>
      </section>

      <section id="saias">
        <h2>Exemplo de Saia</h2>
        <img src="{{ url_for('static', filename='img/roupa_.jpg') }}" alt="roupa...">
        <p>Preços e Detalhes</p>
      </section>

      <section id="tops">
        <h2>Exemplo de Tops</h2>
        <p>Preço e Detalhes</p>
      </section>

      <section id="calcados">
        <h2>Exemplo de Calçados</h2>
        <p>Preços e Detalhes</p>
      </section>

      <section id="acessorios">
        <h2>Exemplo de Acessórios</h2>
        <p>Preços e Detalhes</p>
      </section>
    </main>
  
  
  </body>
</html>