.card {
    min-width: 30vw;
    text-align: center;
    padding: 1rem;
    background: var(--bgcard);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.card_emphas {
    min-width: 30vw;
    text-align: center;
    padding: 1rem;
    flex: 1 1 200px;
    
    & .ghost {
        display: flex;
        
        & .author {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            background: var(--bgcard);
            border-radius: 10px 10px 0 0;
        }
        
        & .shadow_type {
            width: 50%;
            padding: 0 0 1rem 1rem;
            border-bottom-left-radius: 12px;
            box-shadow: -20px 15px 0 var(--bgcard);
            
            & .type {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2rem;
                background: var(--bgcard);
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
            }
        }
    }
    
    & .content {
        background: var(--bgcard);
        padding: 1rem;
        border-radius: 0 10px 10px 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

        & .imgp {
            width: 34vw;
            padding: 1rem;
            border-radius: 10px;
        }

        & .descpt, .price {
            width: 50%;
        }
    }
}
@media screen and (max-width: 768px) {
    .card_emphas {
        & .content {
            & .imgp {
                width: 100%;
            }
        }
    }
}